

body {
    margin: 0;
    font-family: 'Dancing Script', cursive;
    font-family: 'Inter', sans-serif;
}

#logo1 {
    position: absolute;
    left: -2%;
    top: 9%;
}

#logo2 {

    margin-left: 20%;
    margin-top: -5%;
}

#registro {
    display: inline-flex;
    background-color: #8FD2E8;
    color: white;
    width: 100px;
    height: 43px;
    border-color: transparent;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: absolute;
    right: 5%;
    top: 8%;
    

}

#registrado {
    
    position: absolute;
    right: 19%;
    top: 8%;
}

#ingresar {
    display: inline-flex;
    background-color: #8FD2E8;
    color: white;
    width: 100px;
    height: 43px;
    border-color: transparent;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: absolute;
    right: 12%;
    top: 8%;
}

#carrito {
    text-align: center;
    display: inline-flex;
    background-color: white;
    color: #8FD2E8;
    width: 130px;
    height: 50px;
    border-color: transparent;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: absolute;
    right: 8%;
    top: 16%;
    font-size: 15px;
}

#busquedabarra {
    width: 325px;
    height: 43px;
    font-size: 18px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px solid grey;
    padding: 5%;
}

#buscar {
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #E0A9C6;
    color: white;
    width: 100px;
    height: 43px;
    border: none;
    border-top-right-radius: 15px;
    border-end-end-radius: 15px;
    font-size: 20px;
}

#buscador {
    position: absolute;
    left: 24%;
    top: 20%;
}

ul {
    list-style: none;
    padding: 10px;
    border-radius: 5px;
    
}

a {
    text-decoration: none;
    padding: 45px;
    color: black;

}

li {
    display: inline-block;
    font-size: 20px;
}

#DATOSENVIO{
    background-color: #8FD2E8;
    padding: 20px;
    color: rgb(252, 246, 246);
    border-radius: 5px;
    font-size: 25px;
    }

#carro{
    position: relative;
    top: 30px;
    left: 50px;
    
}
#CUADROMUG{
    border-style: outset;
    width: 980px;
    height: 750px;
    border-color: rgb(233, 236, 236);
}


#valor{
    font-size: 30px;
    position: relative;
    top: -595px;
    left: 310px;
   
}

#tipomug{
    color: #8FD2E8;
}

#cantidad{
    font-size: 20px;
    position: relative;
    top: -1180px;
    left: 700px;
    color: #8FD2E8;

}

#CONTADOR1{
    text-align: center;
    font-size: 20px;
    width: 3%;
    height: 20px;
    position: relative;
    top: -1200px;
    left: 700px;

}

#VALOR1{
position: relative;
top: -1260px;
left: 800px;
font-size: 30px;
}

#cantidad2{
    font-size: 20px;
    position: relative;
    top: -1120px;
    left: 700px;
    color: #8FD2E8;

}

#CONTADOR2{
    text-align: center;
    font-size: 20px;
    width: 3%;
    height: 20px;
    position: relative;
    top: -20px;
    left: 0px;
}

#VALOR2{
    position: relative;
    top: -20px;
    left: 45px;
    font-size: 30px;
    color: black;

}

#cantidad3{
    font-size: 20px;
    position: relative;
    top: -1000px;
    left: 700px;
    color: #8FD2E8;

}

#CONTADOR3{
    text-align: center;
    font-size: 20px;
    width: 3%;
    height: 20px;
    position: relative;
    top: -20px;
    left: 0px;
}

#VALOR3{
    position: relative;
    top: -20px;
    left: 45px;
    font-size: 30px;
    color: black;
    }

    #Articulos{
        font-size: 35px;
        position: relative;
        top: -600px;
        left: 1000px;
        border-style: outset;
        width: 500px;
        height: 450px;
        border-color: rgb(233, 236, 236);
        margin-top: 20px;
        margin-left: 20px;
        
    }

    #precio1{
        position: relative;
        top: -85px;
        left: 350px;
    }

#domicilio{
    position: relative;
    top: -130px;
    left: 0px;

}

#preciodomi{
    position: relative;
    top: -209px;
    left: 350px;
}

#TOTAL1{
    padding: 10PX;
    background-color: #8FD2E8;
    color: aliceblue;
    width: 450px;
    margin-top: 20px;
    position: relative;
    top: -200px;
    left: 0px;

}

#TOTAL2{
    padding: 10PX;
    color: rgb(248, 250, 252);
    width: 350px;
    margin-top: 20px;
    position: relative;
    top: -300px;
    left: 345px;

}

    
#conpago{
    display: inline;
    background-color: #E0A9C6;
    color: white;
    width: 350px;
    height: 45px;
    border-color: transparent;
    border-radius: 30px;
    position: relative;
    font-size: 25px;
    top: -300px;
    left: 30px;
    list-style: none;
    padding: 0px;
}

#conpago1{
    display: inline;
    background-color: #E0A9C6;
    color: white;
    width: 200px;
    height: 45px;
    border-color: transparent;
    border-radius: 30px;
    position: relative;
    font-size: 25px;
    top: -300px;
    left: 150px;
    list-style: none;
    padding: 0px;
}

   




#datos1 {
    background-color: #8FD2E8;
    color: rgb(247, 241, 241);
    text-align: center;
    font-size: 20px;
    position: relative;
    top: -350px;
    left: 0px;
}

#datos2 {
    background-color: #8FD2E8;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 20px;
    border-top: 10px solid white;
    height: 50px;
    position: relative;
    top: -350px;
    left: 0px;
}x
#textofooter1 {
    position: relative;
    top: 45px;
}

#textofooter2 {
    position: relative;
    bottom: 10px;
}

#boton {
    background-color: #8FD2E8;
    padding: 15px;
    margin-right: 60px;
    border-radius: 15px;
    color: white;
}

#redes {
    position: relative;
    left: 5cm;
    bottom: 72px;
}