@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Inter:wght@700&display=swap');

body {
    margin: 0;
    font-family: 'Dancing Script', cursive;
    font-family: 'Inter', sans-serif;
}

#logo1 {
    position: absolute;
    left: -2%;
    top: 9%;
}

#logo2 {

    margin-left: 20%;
    margin-top: -5%;
}

#registro {
    display: inline-flex;
    background-color: #8FD2E8;
    color: white;
    width: 100px;
    height: 43px;
    border-color: transparent;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: absolute;
    right: 5%;
    top: 8%;
}


#registrado {
    
    position: absolute;
    right: 19%;
    top: 8%;
    
}

#ingresar {
    display: inline-flex;
    background-color: #8FD2E8;
    color: white;
    width: 100px;
    height: 43px;
    border-color: transparent;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: absolute;
    right: 12%;
    top: 8%;
}

#carrito {
    text-align: center;
    display: inline-flex;
    background-color: white;
    color: #8FD2E8;
    width: 130px;
    height: 50px;
    border-color: transparent;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: absolute;
    right: 8%;
    top: 16%;
    font-size: 15px;
}

#busquedabarra {
    width: 325px;
    height: 43px;
    font-size: 18px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px solid grey;
    padding: 5%;
}

#buscar {
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #E0A9C6;
    color: white;
    width: 100px;
    height: 43px;
    border: none;
    border-top-right-radius: 15px;
    border-end-end-radius: 15px;
    font-size: 20px;
}

#buscador {
    position: absolute;
    left: 24%;
    top: 20%;
}


ul {
    list-style: none;
    padding: 10px;
   
    
}

a {
    text-decoration: none;
    padding: 45px;
    color: black;

}

li {
    display: inline-block;
    font-size: 20px;
    
    
}

#productos {
    padding-inline: 17%;
    
}

#botones {

    background-color: white;
    margin: 10px;
    border-radius: 50px;
    padding: 10px;
    border: 3px solid #8FD2E8;
    width: 8cm;
    height: 10cm;

}



#botonproductos {
    background-color: #8FD2E8;
    color: white;
    font-size: 25px;
    width: 110px;
    height: 25px;
    border-color: transparent;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 3px;
    position: relative;
    left: 29%;
}

article p {
    font-size: 20px;
}

#datos1 {
    background-color: #8FD2E8;
    color: white;
    text-align: center;
    font-size: 20px;

}

#textofooter1 {
    position: relative;
    top: 45px;
}

#datos2 {
    background-color: #8FD2E8;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 20px;
    border-top: 10px solid white;
    position: absolute;
    height: 50px;
}

#textofooter2 {
    position: relative;
    bottom: 10px;
}



#redes {
    position: relative;
    left: 5cm;
    bottom: 72px;
}

#Xtitulomug {
    background-color: #8FD2E8;
    color: white;
    font-size: 30px;
    padding: 10px;
    margin-top: 10px;

}
#Xtitulosprodmug {
    background-color: #8FD2E8;
    color: white;
    font-size: 15px;
    padding: 7px;
    margin-top: 15px;
    position: relative;
    text-align: justify;
}

#Xcategoriamug {
    
    list-style: none;
    text-align: center;
    

}

#xboton {
    color: white;
    text-decoration: none;
    padding: 115px;
}

#Xulmug {
    background-color: #8FD2E8;
}

#xbotones {
    background-color: white;
    font-size: 25px;
    border-color:#8FD2E8;
    border-radius: 50px;
    justify-content: center;
    text-decoration: none;
    padding: 15px;
    margin: 15px;
}

#Xproductos {
    padding-inline: 35px;
}

#Xañadir {
    background-color: #E0A9C6;
    color: white;
    border-radius: 50px;
    padding: 10px;

}

#mensaje {
    text-align: right;
    position: relative;
    font-size: 25px;
    top: 50%;
}

#logonosotros {
    position: relative;
}


#EDproductos2 
     {
      margin-top: -70px;
     padding-inline: 5%;
     }
  
    #EDbotones2 
    {
     background-color: white;
     margin: 10px;
     border-radius: 30px;
     padding: 10px;
     border: 3px solid #8FD2E8;
     width: 7cm;
     height: 10cm;
    }
  
    #EDbotonproductos2 {
     background-color: #E0A9C6;
     color: white;
     font-size: 15px;
     width: 160px;
     height: 25px;
     border-color: transparent;
     border-radius: 15px;
     align-items: center;
     justify-content: center;
     text-decoration: none;
     padding: 3px;
     position: relative;
     left: 17%;
     }
  
      /*FIN CODIGO = CATEGORIA GENERAL TEXTIL*/
  
      /*COGIDO = CAMISAS*/
  
      #EDcamisetas3 {
        position: relative;
        bottom: -30px;
        font-size: 30px;
        color: white;
        font-family:  Calibri;
        text-align:center;
        background-color: #8FD2E8;
        border-radius: 15px;
        padding: 10px;
        margin-bottom: 60px;
       }
  
        #EDCamisas 
        {
         margin-top: -20px;
        padding-inline: 4%;
        }
     
       #EDbotonescamisas 
       {
        background-color: white;
        margin: 10px;
        border-radius: 30px;
        padding: 10px;
        border: 3px solid #8FD2E8;
        width: 9cm;
        height: 10cm;
       }
     
       #EDbotonRegresar {
        background-color: #8fd2e8;
        color: white;
        font-size: 15px;
        width: 160px;
        height: 40px; /*Para que el boton se vea un poco mas grande*/
        border-color: transparent;
        border-radius: 15px;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        padding: 5px;
        position: relative;
        left: 8%;  /*Esta es la posicion centrado a la imagen camisetas*/
        }
  
       #EDcantidad1
      {
      width: 5px;
      height: 5px;
      padding: 0px;
      color: #8FD2E8;
      position: relative;
      left: -1%;/*la posicion en relacion al boton de abajo*/
      margin-top: 110px;
      margin-left: 80px;
      }
  
      h6
      {
        margin-bottom: 3px;
      }
  
      #EDContador1
      {
        width: 50px;
        height: 25px;
      }
  
      #EDValorproductos
      {
       color:#8FD2E8;
       position: relative;
       margin-top: -50px;
       margin-left: 250px;
       font-size: 40px;
       margin-bottom: 15px;
      }
  
        #EDbotonCotizar
        {
          background-color:#E0A9C6;
          color: white;
          font-size: 19px;
          width: 250px;
          height: 40px; /*Para que el boton se vea un poco mas grande*/
          border-color: transparent;
          border-radius: 15px;
          align-items: center;
          justify-content:center;
          text-decoration: none;
          padding: auto;
          position: relative;
          left: 25.5%;/*la posicion en relacion al boton de abajo*/
          margin-top: -50px;
        }
  
        #Edminiwpp
        {
          width: 20px;
          height: 20px;
          margin:0px;
          color: #E0A9C6;
          background-color: #E0A9C6;
        }
       
  
        #EDbotonFinalizarCompra
        {
          background-color:#8fd2e8;
          color: white;
          font-size: 15px;
          width: 200px;
          height: 35px; /*Para que el boton se vea un poco mas grande*/
          border-color: transparent;
          border-radius: 20px;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          padding: 15px;
          position: relative;
          bottom: -50px;
          left: -20px;
        }
  
         /*TEXTO= Camisas*/
         .EDtextocamisas
         {
          background-color: white;
          float: right;
          width: 800px;
          height: 200px;
          margin-top: 10px;
          margin-bottom: 12 px;
          font-size: 25px;
         }
  