@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Inter:wght@700&display=swap');
<!-- Bootstrap CSS -->
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous");

body {
    margin: 0;
    font-family: 'Dancing Script', cursive;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

#logo1 {
    position: absolute;
    left: -2%;
    top: 9%;
}

#logo2 {

    margin-left: 20%;
    margin-top: -5%;
}

#registro {
    display: inline-flex;
    background-color: #8FD2E8;
    color: white;
    width: 100px;
    height: 43px;
    border-color: transparent;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: absolute;
    right: 60px;
    top: 8%;
    

}

#registrado {
    
    position: absolute;
    right: 280px;
    top: 8%;
}

#ingresar {
    display: inline-flex;
    background-color: #8FD2E8;
    color: white;
    width: 100px;
    height: 43px;
    border-color: transparent;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: absolute;
    right: 12%;
    top: 8%;
}

#carrito {
    text-align: center;
    display: inline-flex;
    background-color: white;
    color: #8FD2E8;
    width: 130px;
    height: 50px;
    border-color: transparent;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: absolute;
    right: 8%;
    top: 16%;
    font-size: 15px;
}

#busquedabarra {
    width: 325px;
    height: 43px;
    font-size: 18px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px solid grey;
    padding: 1%;
}

#buscar {
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #E0A9C6;
    color: white;
    width: 100px;
    height: 43px;
    border: none;
    border-top-right-radius: 15px;
    border-end-end-radius: 15px;
    font-size: 20px;
}

#buscador {
    position: absolute;
    left: 24%;
    top: 20%;
}


ul {
    list-style: none;
    padding: 5px;
    border-radius: 5px;
    background-color: #8FD2E8;
    margin-left: 10px;
    margin-right: 10px;
    height: 25px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    
    
}

#cajas {
    background-color: white;
    border-radius: 5px;
    border: solid;
    border-color: #8FD2E8;
    display: inline-block;
    width: 400px;
    height: 300px;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 45px;
    margin-top: 20px;
 
}

a {
    text-decoration: none;
    padding:25px;
    color: white;
    margin-top: 100px;
  
}


.barra {
    text-decoration: none;
    padding:25px;
    color: black;

}

li {
    display: inline-block;
    font-size: 20px;
    
    
}

#productos {
    padding-inline: 17%;
    
}

#botones {

    background-color: white;
    margin: 10px;
    border-radius: 50px;
    padding: 10px;
    border: 3px solid #8FD2E8;
    width: 8cm;
    height: 10cm;
    display: inline-block;

}



#botonproductos {
    background-color: #8FD2E8;
    color: white;
    font-size: 25px;
    width: 110px;
    height: 25px;
    border-color: transparent;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 3px;
    position: relative;
    left: 29%;
}

article p {
    font-size: 20px;
}

#datos1 {
    background-color: #8FD2E8;
    color: white;
    text-align: center;
    font-size: 20px;
    bottom: 1%;

}

#textofooter1 {
    position: relative;
    top: 45px;
}

#datos2 {
    position: relative;
    border: 3px solid #8FD2E8;
    width: 100%;
    height: 50px;
    top: 80%;
    border-top: 10px solid white;
    text-align: center;
    font-size: 20px;
    background-color: #8FD2E8;
    color: white;
}

#textofooter2 {
    position: relative;
    text-align: justify;
    padding-left: 10px;
    text-align: center;
}



#redes {
    position: relative;
    left: 5cm;
    bottom: 72px;
}

#botonesimg {

    background-color: #E0A9C6;
    margin: 10px;
    border-radius: 50px;
    padding: 10px;
    border: 3px solid #8FD2E8;
    width: 8cm;
    height: 10cm;
    display: inline-block;

}

#cajastermos {
    background-color: white;
    border-radius: 5px;
    border: solid;
    border-color: #8FD2E8;
    display: inline-block;
    width: 500px;
    height: 500px;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 45px;
    margin-top: 20px;
    margin-left: 15px;
 
}

#text1 {
position: absolute;
right: 125px;
top: 430px;
font-size: 24px;



}


/* #Xañadir {
    background-color: #E0A9C6;
    color: white;
    border-radius: 50px;
    padding: 10px;

}
Ximena Palacio Mejia20:16
<button id="xbotones" style="cursor: pointer"> <img src="img/mugs/mug neon.jpg" alt="" height="230px"> 
                    <p id="xbotonproductos"> 18.900 </p> 
                    <p id="Xañadir"> <strong> <img src="img/botones logos/CARRITO BLANCO.png" alt="" height="20px"> Añadir al carrito  </strong> </p>
                 </button>
css
#xbotones {
    background-color: white;
    font-size: 25px;
    border-color:#8FD2E8;
    border-radius: 50px;
    justify-content: center;
    text-decoration: none;
    padding: 15px;
    margin: 47px;
}

#Xproductos {
    padding-inline: 35px;
}

#Xañadir {
    background-color: #E0A9C6;
    color: white;
    border-radius: 50px;
    padding: 10px;

}*/