@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Inter:wght@700&display=swap');

  /*HEADER = De Todas las paginas*/
body {
    margin: 0;
    font-family: 'Dancing Script', cursive;
    font-family: 'Inter', sans-serif; 
}



/*LOGO*/
#logo1 {
    position: relative;
    
    left: -3%; /*posicion hacia la izquierda del logo*/
    margin-bottom: 80px; /*Posicion del logo*/
    margin-top: 20px;
}

/*Nombre de la Empresa*/
#logo2 {
    position: relative;
    margin-left: 30px;
    margin-bottom: -10px; /*Posicion del Titulo con el buscador*/
    margin-top: -15%; /*Posicion del titulo*/
}

/*Botonsito de registrarse*/
#registrado {
    position: absolute;
    right: 23%; /*Posicion a la izquierda del botoncito*/
    top: 8%;
}

/*Botones extremo derecho superior*/
#registro {
    display: inline-flex;
    background-color: #8FD2E8;
    color: white;
    width: 100px;
    height: 43px;
    border-color: transparent;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: absolute;
    right: 6%;
    top: 8%;
}

#ingresar {
    display:inline-flex;
    background-color: #8FD2E8;
    color: white;
    width: 100px;
    height: 43px;
    border-color: transparent;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: absolute;
    right: 15%; /*Posicion del boton ingresar*/
    top: 8%;
}

#carrito {
    text-align: center;
    display: inline-flex;
    background-color: white;
    color: #8FD2E8;
    width: 130px;
    height: 50px;
    border-color: transparent;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: absolute;
    right: 8%;
    top: 20%; /*Distancia del carrito con los botones*/
    font-size: 15px;
}


#buscador {
    position: absolute;
    left: 26%;
    top: 28%;
    margin-top: -30px; /*la distancia del buscador con el titulo*/
}

#busquedabarra {
   
    width: 325px;
    height: 43px;
    font-size: 18px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px solid grey;
    padding: 5%;
}

#buscar {
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #E0A9C6;
    color: white;
    width: 100px;
    height: 43px;
    border: none;
    border-top-right-radius: 15px;
    border-end-end-radius: 15px;
    font-size: 20px;
}

/*Responsive del Header */

.ResponsiveBuscador
{
   position: relative; 
   text-align: center;
   margin-bottom: 0px; /*la distancia del buscador con la barra del menú*/
   left: 70px; /*Posicion del buscador*/
}

.ResponsiveLogo
{
  position: relative;
  margin-top: 30px;
  right: 20px;
  left: -2%; /*posicion hacia la izquierda del logo*/
  margin-bottom: -100px;
}

.ResponsiveNombre
{
    margin-top: -150px;
    margin-left: 350px;
}

/* RESPONSIVE DE LA PAGINA PRINCIPAL 500*/

@media only screen and (max-width:500px)
{
  .ResponsiveBuscador, .ResponsiveLogo, .ResponsiveNombre
  {
   flex-direction: column;
  }

  .ResponsiveLogo
  {
    left:-60px;
  }
   
   .ResponsiveBotonRegistrado
   {
    position: absolute;
    margin: 50px;
    top: -10px;
    left: 110px;
   }

   .ResponsiveIngresar
   {
    position: absolute;
    right: 140px;
    top: 40px;
   }

   .ResponsiveRegistrarse
   {
    position:absolute;
    right: 20px;
    top: 40px;
   }

   .ResponsiveCarrito
   {
    position: absolute;
    right: 70px;
    top:100px;
   }

 .ResponsiveNombre
   {
    position: relative;
    text-align: center;
    margin-bottom: -40px;
    margin-left: -12%;
    margin-top: 10%; /*Posicion del titulo*/
   }   
 
   .ResponsiveBuscador
   {
    left: -90px;
    margin-bottom: 30px;
   }
}

/* RESPONSIVE DE LA PAGINA PRINCIPAL 700*/
@media only screen and (min-width:700px)
{
    .ResponsiveLogo
    {
      position: relative;
      margin-left: -20px;
      margin-top: 10px;
    }

    .ResponsiveBotonRegistrado
   {
    position: absolute;
    margin: 0px;
    top: 40px;
    left: 430px;
   }

   .ResponsiveIngresar
   {
    position: absolute;
    right: 130px;
    top: 40px;
   }

   .ResponsiveRegistrarse
   {
    position:absolute;
    right: 20px;
    top: 40px;
   }

    .ResponsiveNombre
    {
    position: relative;
    text-align: center;
    margin-bottom: -39px;
    margin-left: -9%;
    margin-top: 6%; /*Posicion del titulo*/
    }

    .ResponsiveBuscador
    {
     left: -70px;
     margin-bottom: 20px;
    }
}

/* RESPONSIVE DE LA PAGINA PRINCIPAL 1200*/
@media only screen and (min-width:1200px)
{
    .ResponsiveLogo
    {
      position: relative;
      margin-left: -10px;
      margin-top: 10px;
    }

    .ResponsiveBotonRegistrado
   {
    position: absolute;
    margin: 0px;
    top: 40px;
    right: 40px;
   }

   .ResponsiveIngresar
   {
    position: absolute;
    right: 130px;
    top: 40px;
   }

   .ResponsiveRegistrarse
   {
    position:absolute;
    right: 20px;
    top: 40px;
   }

    .ResponsiveNombre
    {
    position: relative;
    text-align: center;
    margin-bottom: -45px;
    margin-left: -5%;
    margin-top: 2%; /*Posicion del titulo*/
    }

    .ResponsiveBuscador
    {
     left: 80px;
     margin-bottom: 20px;
    }
}


/*Responsive de la barra de Menú*/
@media (min-width:500px) {

    .barra {
        list-style: none;
        padding: 10px;
        text-align: center;
    }
   
    .boton {
        text-decoration: none;
        padding: 15px;
        color: black;
       
    }
   
    .lis {
        display: inline-block;
        font-size: 20px;
        margin-top: 35px;
        border-right: 1px solid black;
    }

    a:hover {
        color:#8FD2E8;
      }
}



ul {
    list-style: none;
    padding: 10px;
   
   
}

a {
    text-decoration: none;
    padding: 45px;
    color: black;

}

li {
    display: inline-block;
    font-size: 20px;
   
   
}


@media only screen and (min-width: 700px ) {
    .barra {
        list-style: none;
        padding: 30px;
        text-align: center;
    }
   
    .boton {
        text-decoration: none;
        padding: 15px;
        color: black;
    }
   
    .lis {
        display: inline-block;
        font-size: 20px;
        margin-top: 35px;
        border-right: 1px solid black;
    }

    a:hover {
        color:#8FD2E8;
      }

    @media only screen and (min-width: 1200px ) {
        .barra {
            list-style: none;
            padding: 30px;
            text-align: center;
        }
       
        .boton {
            text-decoration: none;
            padding: 15px;
            color: black;
        }
       
        .lis {
            display: inline-block;
            font-size: 20px;
            margin-top: 35px;
            border-right: 1px solid black;
        }

        a:hover {
            color:#8FD2E8;
          }
    }
}

/* FIN : RESPONSIVE DEL HEADER DE  LA PAGINA PRINCIPAL*/


#productos {
    padding-inline: 16%;
    
}

#botones {

    background-color: white;
    margin: 10px;
    border-radius: 50px;
    padding: 10px;
    border: 3px solid #8FD2E8;
    width: 280px; /*Tamaño de los cajones de los productos*/
    height: 10cm;
   
}

#botones img
{
    height: 200px; /*Tamaño de la imagen de los productos*/
    width: auto;
    
}


#botonproductos {
    background-color: #8FD2E8;
    color: white;
    font-size: 25px; /*Tamaño de la letra de los productos*/
    width: 105px;
    height: 25px;
    border-color: transparent;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 3px;
    position: relative;
    left: 29%;/*Posicion de los botones*/
}

article p {
    font-size: 20px;
}

/*Responsive de los productos 500px*/

@media only screen and (max-width:500px)
{
    .botones{
        width: 200px;
        height: 220px;
        position: relative;
        left: -70px;
    }
    .botones img{
    height: 140px;
    width: 130px;
    position: relative;
    left: -17px;
    border-radius: 30px;
    }
    .botonproductos{
        font-size: 15px;
        left: 35px;
        top: -5px;
        padding: 2px;
        height: 15px;
        width: 90px;
        position: relative;
    }
    .precioeu{
        font-size: 12px;
        top: -11px;
        left: -6px;
        position: relative;
    }
    .productos{
      display: contents;
      display: table-row-group;
      position: relative;
      left: 90px;
    }
}
/*Fin responsive de los productos 500px*/

/*Responsive de los productos 700px*/
@media only screen and (max-width:700px){
    .botones{
        width: 200px;
        height: 220px;
        position: relative;
        left: -70px;
    }
    .botones img{
    height: 140px;
    width: 130px;
    position: relative;
    left: -17px;
    border-radius: 30px;
    }
    .botonproductos{
        font-size: 15px;
        left: 35px;
        top: -5px;
        padding: 2px;
        height: 15px;
        width: 90px;
        position: relative;
    }
    .precioeu{
        font-size: 12px;
        top: -11px;
        left: -6px;
        position: relative;
    }
    .productos{
      display: contents;
      display: table-row-group;
      position: relative;
      left: 80px;
    }
}
/*Fin responsive de los productos 700px*/

/*Responsive de los productos 1200px*/
@media only screen and (max-width:1200px)
{
    .botones{
        width: 320px;
        height: 400px;
        position: relative;
        left: -70px;
    }
    .botones img{
    height: 250px;
    width: 240px;
    position: relative;
    left: -17px;
    border-radius: 30px;
    top: -7px;
    }
    .botonproductos{
        font-size: 25px;
        left: 80px;
        top: -5px;
        padding: 8px;
        height: 15px;
        width: 110px;
        position: relative;
        padding-bottom: 23px;
    }
    .precioeu{
        font-size: 20px;
        top: -11px;
        left: -6px;
        position: relative;
    }
    .productos{
      display: contents;
      display: table-row-group;
      position: relative;
      left: 140px;
    }
} 
/*Fin responsive de los productos 1200px*/


/*CSS de los Mugs*/

#Xtitulomug {
    background-color: #8FD2E8;
    color: white;
    font-size: 30px;
    padding: 10px;
    margin-top: 10px;

}
#Xtitulosprodmug {
    background-color: #8FD2E8;
    color: white;
    font-size: 15px;
    padding: 7px;
    margin-top: 15px;
    position: relative;
    text-align: justify;
}

#Xcategoriamug {
    
    list-style: none;
    text-align: center;
    

}

#xboton {
    color: white;
    text-decoration: none;
    padding: 115px;
}

#Xulmug {
    background-color: #8FD2E8;
}

#xbotones {
    background-color: white;
    font-size: 25px;
    border-color:#8FD2E8;
    border-radius: 50px;
    justify-content: center;
    text-decoration: none;
    padding: 15px;
    margin: 15px;
}

#Xproductos {
    padding-inline: 35px;
}

#Xañadir {
    background-color: #E0A9C6;
    color: white;
    border-radius: 50px;
    padding: 10px;

}

#mensaje {
    text-align: right;
    position: relative;
    font-size: 25px;
    top: 50%;
}

#logonosotros {
    position: relative;
}


#EDproductos2 
     {
      margin-top: -70px;
     padding-inline: 5%;
     }
  
    #EDbotones2 
    {
     background-color: white;
     margin: 10px;
     border-radius: 30px;
     padding: 10px;
     border: 3px solid #8FD2E8;
     width: 7cm;
     height: 10cm;
    }
  
    #EDbotonproductos2 {
     background-color: #E0A9C6;
     color: white;
     font-size: 15px;
     width: 160px;
     height: 25px;
     border-color: transparent;
     border-radius: 15px;
     align-items: center;
     justify-content: center;
     text-decoration: none;
     padding: 3px;
     position: relative;
     left: 17%;
     }
  
      /*FIN COGIDO = MUGS*/
  
      /**/
  
      #EDcamisetas3 {
        position: relative;
        bottom: -30px;
        font-size: 30px;
        color: white;
        font-family:  Calibri;
        text-align:center;
        background-color: #8FD2E8;
        border-radius: 15px;
        padding: 10px;
        margin-bottom: 60px;
       }
  
        #EDCamisas 
        {
         margin-top: -20px;
        padding-inline: 4%;
        }
     
       #EDbotonescamisas 
       {
        background-color: white;
        margin: 10px;
        border-radius: 30px;
        padding: 10px;
        border: 3px solid #8FD2E8;
        width: 9cm;
        height: 10cm;
       }
     
       #EDbotonRegresar {
        background-color: #8fd2e8;
        color: white;
        font-size: 15px;
        width: 160px;
        height: 40px; /*Para que el boton se vea un poco mas grande*/
        border-color: transparent;
        border-radius: 15px;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        padding: 5px;
        position: relative;
        left: 8%;  /*Esta es la posicion centrado a la imagen camisetas*/
        }
  
       #EDcantidad1
      {
      width: 5px;
      height: 5px;
      padding: 0px;
      color: #8FD2E8;
      position: relative;
      left: -1%;/*la posicion en relacion al boton de abajo*/
      margin-top: 110px;
      margin-left: 80px;
      }
  
      h6
      {
        margin-bottom: 3px;
      }
  
      #EDContador1
      {
        width: 50px;
        height: 25px;
      }
  
      #EDValorproductos
      {
       color:#8FD2E8;
       position: relative;
       margin-top: -50px;
       margin-left: 250px;
       font-size: 40px;
       margin-bottom: 15px;
      }
  
        #EDbotonCotizar
        {
          background-color:#E0A9C6;
          color: white;
          font-size: 19px;
          width: 250px;
          height: 40px; /*Para que el boton se vea un poco mas grande*/
          border-color: transparent;
          border-radius: 15px;
          align-items: center;
          justify-content:center;
          text-decoration: none;
          padding: auto;
          position: relative;
          left: 25.5%;/*la posicion en relacion al boton de abajo*/
          margin-top: -50px;
        }
  
        #Edminiwpp
        {
          width: 20px;
          height: 20px;
          margin:0px;
          color: #E0A9C6;
          background-color: #E0A9C6;
        }
       
  
        #EDbotonFinalizarCompra
        {
          background-color:#8fd2e8;
          color: white;
          font-size: 15px;
          width: 200px;
          height: 35px; /*Para que el boton se vea un poco mas grande*/
          border-color: transparent;
          border-radius: 20px;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          padding: 15px;
          position: relative;
          bottom: -50px;
          left: -20px;
        }
  
         /*TEXTO= Mugs*/
         .EDtextocamisas
         {
          background-color: white;
          float: right;
          width: 800px;
          height: 200px;
          margin-top: 10px;
          margin-bottom: 12 px;
          font-size: 25px;
         }
  

         /*FOOTER = De todas las paginas*/

         #datos1 {
            background-color: #8FD2E8;
            color: white;
            text-align: center;
            font-size: 20px;
        
        }
        
        #textofooter1 {
            position: relative;
            top: 45px;
        }
        
        #datos2 {
            background-color: #8FD2E8;
            color: white;
            width: 100%;
            text-align: center;
            font-size: 20px;
            border-top: 10px solid white;
            position: absolute;
            height: 50px;
        }
        
        #textofooter2 {
            position: relative;
            bottom: 10px;
        }
        
        
        
        #redes {
            position: relative;
            left: 5cm;
            bottom: 72px;
        }

          /*FOOTER = Pagina Principal con Responsive*/
        
           
     @media only screen and (min-width:400px)
     {

      .EDdatos1 
     {
      color: white;
      text-align: center;
      font-size: 20px;
     }
      .EDtextofooter1 
     {
      margin-top: -15px;
      position: relative;
      text-align: center;
      top: 45px;
      background-color: #8FD2E8;
      width: 97%;
      padding: 10px;
     }
      .EDredes
     {
      position: relative;
      right: -180px;
      bottom: 50px;
      width: 40px;
      height: 40px;
     }
     
     .EDdatos2 
     {
      margin-top: -10px;
      background-color: #8FD2E8;
      width: 99%;
      text-align: center;
      font-size: 20px;
      border-top: 15px;
      position: absolute;
      height: 60px;
      align-items: center;
     } 
     .EDtextofooter2 
     {
      position: relative;
      color: white;
      bottom: 30px;
      padding: 20px;
      font-size: 20px;
     }
     }
  
     
          